<button (click)="send()">send</button><br>
<input type="text" (keyup)="getVal()"><br>
<input type=""><br>
<input type="checkbox" (change)="check($event)"> Checkbox<br>
<input type="checkbox" (change)="check($event)"> Checkbox2<br>
<input type="radio" (change)="radio($event)" > one
<input type="radio" (change)="radio($event)" > two
<input type="radio" (change)="radio($event)" > three<br>
<input type="button" (dblclick) = "down()" value="send"> <br>
<input type="text" (select)="scroll()" ><br>
<input type="text" (pointermove)="scroll()" ><br>
<input type="text" (mouseout)="scroll()" >


